In [9]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_excel("../datasets/Demand_data.xlsx")
df

,loanAccNumber,prospectId,prospectName,groupId,groupName,product Type,prospect Mobile,cifId,loanId,centreId,...,foId,foName,Job title,Role,bmId,bmName,New branchName,centreName,Region,Bank
0,'1861770000878126,CI-SH-KVB-35b8baa09231,DIVYA M,GI-SC-PD-KVB-JLG-78416-021124-000004,GN-ATTURNALLUR-571237-G1,JLG,7899184131,NaN,NaN,NaN,...,S03173,Sukindra kumar V R,Relationship Executive,RE,S03020,Muttu B P,Kushalnagar,Kushalnagar-1,South Karnataka KVB,KVB
1,'1861770000878090,CI-SH-KVB-53b4ff05ce67,JAYANTHI M,GI-SC-PD-KVB-JLG-78416-021124-000004,GN-ATTURNALLUR-571237-G1,JLG,9880415280,NaN,NaN,NaN,...,S03173,Sukindra kumar V R,Relationship Executive,RE,S03020,Muttu B P,Kushalnagar,Kushalnagar-1,South Karnataka KVB,KVB
2,'1861770000878101,CI-SH-KVB-7a5577f5899e,Manjula M,GI-SC-PD-KVB-JLG-78416-021124-000004,GN-ATTURNALLUR-571237-G1,JLG,9880906167,NaN,NaN,NaN,...,S03173,Sukindra kumar V R,Relationship Executive,RE,S03020,Muttu B P,Kushalnagar,Kushalnagar-1,South Karnataka KVB,KVB
3,'1861770000878132,CI-SH-KVB-ead5238ae1a4,Rathna Rathna,GI-SC-PD-KVB-JLG-78416-021124-000004,GN-ATTURNALLUR-571237-G1,JLG,9483822517,NaN,NaN,NaN,...,S03173,Sukindra kumar V R,Relationship Executive,RE,S03020,Muttu B P,Kushalnagar,Kushalnagar-1,South Karnataka KVB,KVB
4,'1861770000878110,CI-SH-KVB-51b6c10b4187,SUSHEELA SUSHEELA,GI-SC-PD-KVB-JLG-78416-021124-000004,GN-ATTURNALLUR-571237-G1,JLG,7204652597,NaN,NaN,NaN,...,S03173,Sukindra kumar V R,Relationship Executive,RE,S03020,Muttu B P,Kushalnagar,Kushalnagar-1,South Karnataka KVB,KVB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211885,25861300035544,10011605202400210,Manuja C,1001160520240011,YMINDIGAL-563125-G1,JLG,7899972618,7325726.0,NaN,NaN,...,S02151,Mahammad Hazi,Relationship Officer,RO,S01907,Karthik K,ka-chintamani,ka-chintamani_1,Kolar Region,DLXB
211886,29561300054212,10011208202400218,Poovazhagi M,1001120820240011,ZKULATHUR-621803-G2,JLG,9952894550,7348714.0,NaN,NaN,...,S02351,ARUL,Relationship Executive,RE,S02638,RANGITH.N,tn-jayamkondam,tn-jayamkondam_1,Thiruvarur Region,DLXB
211887,29561300054237,10011208202400269,Ramya Prabu,1001120820240011,ZKULATHUR-621803-G2,JLG,7373999972,7348715.0,NaN,NaN,...,S02351,ARUL,Relationship Executive,RE,S02638,RANGITH.N,tn-jayamkondam,tn-jayamkondam_1,Thiruvarur Region,DLXB
211888,29561300054221,10011208202400359,Umarani,1001120820240011,ZKULATHUR-621803-G2,JLG,8526453045,7348712.0,NaN,NaN,...,S02351,ARUL,Relationship Executive,RE,S02638,RANGITH.N,tn-jayamkondam,tn-jayamkondam_1,Thiruvarur Region,DLXB
211889,29561300054243,10012406202400215,Bavani M,1001120820240011,ZKULATHUR-621803-G2,JLG,8778110173,7348713.0,NaN,NaN,...,S02351,ARUL,Relationship Executive,RE,S02638,RANGITH.N,tn-jayamkondam,tn-jayamkondam_1,Thiruvarur Region,DLXB

In [11]:
df.head()

,loanAccNumber,prospectId,prospectName,groupId,groupName,product Type,prospect Mobile,cifId,loanId,centreId,...,foId,foName,Job title,Role,bmId,bmName,New branchName,centreName,Region,Bank
0,'1861770000878126,CI-SH-KVB-35b8baa09231,DIVYA M,GI-SC-PD-KVB-JLG-78416-021124-000004,GN-ATTURNALLUR-571237-G1,JLG,7899184131,NaN,NaN,NaN,...,S03173,Sukindra kumar V R,Relationship Executive,RE,S03020,Muttu B P,Kushalnagar,Kushalnagar-1,South Karnataka KVB,KVB
1,'1861770000878090,CI-SH-KVB-53b4ff05ce67,JAYANTHI M,GI-SC-PD-KVB-JLG-78416-021124-000004,GN-ATTURNALLUR-571237-G1,JLG,9880415280,NaN,NaN,NaN,...,S03173,Sukindra kumar V R,Relationship Executive,RE,S03020,Muttu B P,Kushalnagar,Kushalnagar-1,South Karnataka KVB,KVB
2,'1861770000878101,CI-SH-KVB-7a5577f5899e,Manjula M,GI-SC-PD-KVB-JLG-78416-021124-000004,GN-ATTURNALLUR-571237-G1,JLG,9880906167,NaN,NaN,NaN,...,S03173,Sukindra kumar V R,Relationship Executive,RE,S03020,Muttu B P,Kushalnagar,Kushalnagar-1,South Karnataka KVB,KVB
3,'1861770000878132,CI-SH-KVB-ead5238ae1a4,Rathna Rathna,GI-SC-PD-KVB-JLG-78416-021124-000004,GN-ATTURNALLUR-571237-G1,JLG,9483822517,NaN,NaN,NaN,...,S03173,Sukindra kumar V R,Relationship Executive,RE,S03020,Muttu B P,Kushalnagar,Kushalnagar-1,South Karnataka KVB,KVB
4,'1861770000878110,CI-SH-KVB-51b6c10b4187,SUSHEELA SUSHEELA,GI-SC-PD-KVB-JLG-78416-021124-000004,GN-ATTURNALLUR-571237-G1,JLG,7204652597,NaN,NaN,NaN,...,S03173,Sukindra kumar V R,Relationship Executive,RE,S03020,Muttu B P,Kushalnagar,Kushalnagar-1,South Karnataka KVB,KVB

In [12]:
df.size

6780480

In [13]:
df.dtypes

loanAccNumber              object
prospectId                 object
prospectName               object
groupId                    object
groupName                  object
product Type               object
prospect Mobile             int64
cifId                     float64
loanId                     object
centreId                   object
localeName                 object
localId                    object
grpHead                    object
loan Amount                 int64
emiAmount                 float64
dbDate             datetime64[ns]
dpd                         int64
dpdAmount                 float64
osBalance                 float64
Bal                       float64
emiDueDate         datetime64[ns]
weekDay                    object
foId                       object
foName                     object
Job title                  object
Role                       object
bmId                       object
bmName                     object
New branchName             object
centreName                 object
Region                     object
Bank                       object
dtype: object

In [8]:
df.isnull().sum()

loanAccNumber          0
prospectId             5
prospectName           0
groupId                0
groupName              0
product Type           0
prospect Mobile        0
cifId                730
loanId             39545
centreId           39545
localeName         39545
localId            39545
grpHead            39545
loan Amount            0
emiAmount              0
dbDate                 0
dpd                    0
dpdAmount              0
osBalance              0
Bal                    0
emiDueDate             0
weekDay                0
foId                   0
foName                 0
Job title              0
Role                   0
bmId                   0
bmName                 0
New branchName         0
centreName             0
Region                 0
Bank                   0
dtype: int64

In [9]:
df.columns

Index(['loanAccNumber', 'prospectId', 'prospectName', 'groupId', 'groupName',
       'product Type', 'prospect Mobile', 'cifId', 'loanId', 'centreId',
       'localeName', 'localId', 'grpHead', 'loan Amount', 'emiAmount',
       'dbDate', 'dpd', 'dpdAmount', 'osBalance', 'Bal', 'emiDueDate',
       'weekDay', 'foId', 'foName', 'Job title', 'Role', 'bmId', 'bmName',
       'New branchName', 'centreName', 'Region ', 'Bank'],
      dtype='object')

In [5]:
from sqlalchemy import create_engine

# Replace placeholders with your DB details
DATABASE_URL = "postgresql+psycopg2://postgres:postgres@localhost:5432/postgres"
engine = create_engine(DATABASE_URL)
engine

Engine(postgresql+psycopg2://postgres:***@localhost:5432/postgres)

In [1]:
import pandas as pd
import numpy as np

# Example: Generate a large dataset
data = {
    'column1': ['example_text'] * 10000,
    'column2': np.random.rand(10000),
    'column3': pd.date_range(start='2025-01-01', periods=10000, freq='T')
}

df = pd.DataFrame(data)
df.head()

/tmp/ipykernel_405214/567901676.py:8: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  'column3': pd.date_range(start='2025-01-01', periods=10000, freq='T')

        column1   column2             column3
0  example_text  0.334699 2025-01-01 00:00:00
1  example_text  0.550315 2025-01-01 00:01:00
2  example_text  0.640144 2025-01-01 00:02:00
3  example_text  0.105942 2025-01-01 00:03:00
4  example_text  0.152991 2025-01-01 00:04:00

In [2]:
def chunked_data_loader(df, chunk_size, table_name, engine):
    for start in range(0, len(df), chunk_size):
        end = start + chunk_size
        chunk = df.iloc[start:end]
        
        # Load the chunk into the database
        chunk.to_sql(
            name=table_name,
            con=engine,
            if_exists='append',
            index=False,
            method='multi'  # Use efficient multi-row insert
        )

In [6]:
TABLE_NAME = "random_db"
CHUNK_SIZE = 1000

chunked_data_loader(df, CHUNK_SIZE, TABLE_NAME, engine)

In [ ]:
from multiprocessing import Pool

def process_chunk(chunk):
    chunk.to_sql(name=TABLE_NAME, con=engine, if_exists='append', index=False)

# Split the dataframe into chunks
chunks = [df.iloc[i:i+CHUNK_SIZE] for i in range(0, len(df), CHUNK_SIZE)]

with Pool(processes=4) as pool:
    pool.map(process_chunk, chunks)

PendingRollbackError: Can't reconnect until invalid transaction is rolled back.  Please rollback() fully before proceeding (Background on this error at: https://sqlalche.me/e/20/8s2b)